<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mim - Ewerton Hecsley</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='about.css')}}">
</head>

<body>
    <div class="container">
        <h1>Sobre Mim</h1>
        <p>Olá! Meu nome é Ewerton Hecsley. Sou um entusiasta de programação backend com Python.</p>
        <p>Atualmente, estou focado em aprimorar minhas habilidades em desenvolvimento web utilizando frameworks como
            Flask e Django.</p>
        <p>Estou sempre em busca de aprender novas tecnologias e aperfeiçoar meu conhecimento em Python e outras
            linguagens de programação.</p>
        <p>Sinta-se à vontade para entrar em contato comigo se tiver alguma dúvida ou sugestão!</p>
        <a href="/">Voltar para a Home</a>
    </div>
</body>

</html>