<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-Vindo à Página Inicial</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='home.css')}}">
</head>

<body>
    <div class="container">
        <h1>Bem-Vindo à Nossa Página Inicial</h1>
        <p>Esta é uma página simples de boas-vindas. Sinta-se à vontade para explorar.</p>
        <a href="/about">Saiba Mais</a>
    </div>
</body>

</html>